In [1]:
import pandas as pd
import os
import numpy as np

%matplotlib inline

In [30]:
NC15=pd.read_excel('./data/NC Dinos 2015.xlsx')
# NC15=NC15[['선수명', '타석', '안타', '홈런']]

In [3]:
NC15

    선수명   타석   안타  홈런
0   테임즈  595  180  47
1   나성범  622  184  28
2   박민우  617  158   3
3   이호준  518  132  24
4   김종호  486  125   4
5   조영훈  146   35   8
6   손시헌  508  108  13
7   이종욱  504  118   5
8   모창민  239   62   6
9   지석훈  466  111  11
10  용덕한   49   12   0
11  최재원  102   21   2
12  박정준   24    8   0
13  김태군  474  107   6
14  조평호   22    8   1
15  이창섭    8    0   0
16  김준완   54   10   0
17  강구성    5    1   0
18  강민국    2    0   0
19  김태진    3    0   0

In [33]:
NC15=NC15.set_index('선수명')

여러 개의 색임을 지정해 삭제할 수도 있습니다.

In [6]:
NC15.drop(['테임즈', '나성범'])

      타석   안타  홈런
선수명
박민우  617  158   3
이호준  518  132  24
김종호  486  125   4
조영훈  146   35   8
손시헌  508  108  13
이종욱  504  118   5
모창민  239   62   6
지석훈  466  111  11
용덕한   49   12   0
최재원  102   21   2
박정준   24    8   0
김태군  474  107   6
조평호   22    8   1
이창섭    8    0   0
김준완   54   10   0
강구성    5    1   0
강민국    2    0   0
김태진    3    0   0

In [8]:
NC15.drop(['타석', '홈런'], axis=1)

      안타
선수명
테임즈  180
나성범  184
박민우  158
이호준  132
김종호  125
조영훈   35
손시헌  108
이종욱  118
모창민   62
지석훈  111
용덕한   12
최재원   21
박정준    8
김태군  107
조평호    8
이창섭    0
김준완   10
강구성    1
강민국    0
김태진    0

In [9]:
안타=NC15['안타']

In [10]:
type(안타)

pandas.core.series.Series

시리지는 색인이 다르게 지정되어도 기본 정수 색인이 보존됩니다.

In [12]:
안타['테임즈']

180

In [13]:
안타[:3]

선수명
테임즈    180
나성범    184
박민우    158
Name: 안타, dtype: int64

In [14]:
NC15.ix[['나성범', '손시헌']]

      타석   안타  홈런
선수명
나성범  622  184  28
손시헌  508  108  13

#### 연습
홈런 15개 이상인 선수들의 기록만 고르기

In [15]:
NC15[NC15.홈런 > 14]

      타석   안타  홈런
선수명
테임즈  595  180  47
나성범  622  184  28
이호준  518  132  24

In [27]:
NC15[:3]

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
0,테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73
1,나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
2,박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52

선택을 수행할 때, .ix[]는 색인, [] 형식은 열에 대해서 수행된다. 
하지만!
선택 조건이 [:3] 과 같이 범위일 때는 색인에 대해서 수행된다.

In [34]:
색인조건=['테임즈', '나성범']
열조건=['타석', '안타', '홈런']
NC15.ix[색인조건, 열조건]

      타석   안타  홈런
선수명
테임즈  595  180  47
나성범  622  184  28

In [32]:
NC15.ix[:,'팀명':'도루']

    팀명   경기   타석   타수   안타  홈런   득점   타점   볼넷   삼진  도루
0   NC  142  595  472  180  47  130  140  103   91  40
1   NC  144  622  564  184  28  112  135   33  127  23
2   NC  141  617  520  158   3  111   47   73  108  46
3   NC  131  518  449  132  24   48  110   61  102   0
4   NC  133  486  424  125   4   90   36   44   65  41
5   NC  103  146  124   35   8   20   35   19   36   3
6   NC  140  508  440  108  13   56   58   36   66   3
7   NC  125  504  440  118   5   63   52   54   78  17
8   NC  103  239  214   62   6   23   35   18   52   5
9   NC  137  466  415  111  11   53   46   23   85   4
10  NC   50   49   42   12   0    4    5    5    8   2
11  NC  114  102   85   21   2   31   13   10   29  14
12  NC   19   24   21    8   0    2    2    0    5   0
13  NC  144  474  421  107   6   45   52   25   77   1
14  NC   22   22   22    8   1    4    3    0    6   0
15  NC   15    8    5    0   0    0    0    3    3   0
16  NC   30   54   44   10   0   12    2   10   10   2
17  NC    4    5    5    1   0    0    0    0    0   0
18  NC    1    2    2    0   0    0    0    0    1   0
19  NC    1    3    3    0   0    0    0    0    0   0

#### 연습
기상청 날씨 데이터는 /data/weather.xlsx 파일에 있습니다. 
1. 'date' 열을 색인으로 설정
2. 'weekDay', 'avgTemp', 'weather'을 선택
3. avgTemp의 값이 13도 이상인 날들의 기록만 선택
4. 2014년 9월 자료만 선택

In [35]:
wea=pd.read_excel('./data/weather.xlsx')

In [36]:
wea=wea.set_index('date')

In [39]:
wea[['weekDay', 'avgTemp', 'weather']]

           weekDay  avgTemp         weather
date
2013-08-01    thur     28.0            구름많음
2013-08-02     fri     27.4         흐림/안개/비
2013-08-03     sat     28.9          흐림/소나기
2013-08-04     sun     28.3       흐림/소나기/안개
2013-08-05     mon     27.7  구름많음/안개/천둥번개/비
2013-08-06     tue     26.4  구름많음/안개/천둥번개/비
2013-08-07     wed     28.7            구름많음
2013-08-08    thur     29.3         구름많음/안개
2013-08-09     fri     29.2           흐림/안개
2013-08-10     sat     28.0  구름많음/안개/천둥번개/비
2013-08-11     sun     28.7         구름많음/안개
2013-08-12     mon     29.3            구름많음
2013-08-13     tue     29.0            구름조금
2013-08-14     wed     28.6            구름많음
2013-08-15    thur     28.7        구름많음/소나기
2013-08-16     fri     28.7        구름많음/소나기
2013-08-17     sat     28.7            구름많음
2013-08-18     sun     28.3         흐림/안개/비
2013-08-19     mon     28.2       구름조금/안개/비
2013-08-20     tue     27.4            구름조금
2013-08-21     wed     28.8            구름조금
2013-08-22    thur     29.3            구름많음
2013-08-23     fri     25.7         흐림/안개/비
2013-08-24     sat     26.6            구름조금
2013-08-25     sun     27.1            구름조금
2013-08-26     mon     27.0              맑음
2013-08-27     tue     25.6         구름조금/안개
2013-08-28     wed     26.4         구름많음/안개
2013-08-29    thur     25.5    흐림/안개/천둥번개/비
2013-08-30     fri     25.1            구름많음
...            ...      ...             ...
2015-07-02    thur     23.4         구름많음/안개
2015-07-03     fri     22.7         구름조금/안개
2015-07-04     sat     23.1           맑음/안개
2015-07-05     sun     23.3         구름조금/안개
2015-07-06     mon     24.2            구름조금
2015-07-07     tue     24.1           흐림/안개
2015-07-08     wed     22.6            흐림/비
2015-07-09    thur     25.6            구름많음
2015-07-10     fri     28.0         구름많음/안개
2015-07-11     sat     29.3       구름많음/비/안개
2015-07-12     sun     25.0            흐림/비
2015-07-13     mon     23.1         흐림/비/안개
2015-07-14     tue     25.2         구름많음/안개
2015-07-15     wed     27.5         구름조금/안개
2015-07-16    thur     25.0            구름조금
2015-07-17     fri     24.0            구름많음
2015-07-18     sat     23.8         흐림/비/안개
2015-07-19     sun     24.8            흐림/비
2015-07-20     mon     27.7              흐림
2015-07-21     tue     26.7         흐림/비/안개
2015-07-22     wed     27.0       흐림/소나기/안개
2015-07-23    thur     26.2         흐림/비/안개
2015-07-24     fri     24.5         흐림/비/안개
2015-07-25     sat     25.4         흐림/비/안개
2015-07-26     sun     27.5       구름많음/비/안개
2015-07-27     mon     25.9         흐림/비/안개
2015-07-28     tue     27.7     구름많음/안개/이슬비
2015-07-29     wed     26.3    흐림/비/안개/천둥번개
2015-07-30    thur     28.5         구름많음/안개
2015-07-31     fri     27.6         구름많음/안개

[1460 rows x 3 columns]

In [41]:
wea[wea.avgTemp > 13][:10]

,location,weekDay,avgTemp,highestTemp,lowestTemp,precipitation,snow,windSpeed,humidity,cloud,dayTime,weather
date,,,,,,,,,,,,
2013-08-01,seoul,thur,28.0,32.1,24.5,-,-,1.8,66,7.1,6.0,구름많음
2013-08-02,seoul,fri,27.4,29.3,25.2,7.5,-,2.1,79,9.1,0.9,흐림/안개/비
2013-08-03,seoul,sat,28.9,32.6,26.7,0.1,-,3.6,72,8.1,8.9,흐림/소나기
2013-08-04,seoul,sun,28.3,31.3,26.4,4.5,-,2.5,76,8.0,4.7,흐림/소나기/안개
2013-08-05,seoul,mon,27.7,30.1,26.4,7,-,3.3,78,7.0,4.5,구름많음/안개/천둥번개/비
2013-08-06,seoul,tue,26.4,27.6,23.0,45,-,2.3,81,6.6,2.8,구름많음/안개/천둥번개/비
2013-08-07,seoul,wed,28.7,32.1,25.0,-,-,2.2,73,7.5,1.3,구름많음
2013-08-08,seoul,thur,29.3,32.8,27.3,-,-,3.9,73,7.4,5.0,구름많음/안개
2013-08-09,seoul,fri,29.2,30.8,27.9,0,-,4.0,79,9.9,0.1,흐림/안개
2013-08-10,seoul,sat,28.0,29.4,25.8,2,-,2.3,81,7.1,2.6,구름많음/안개/천둥번개/비