## 엑셀파일 처리

In [3]:
import pandas as pd
from NC import importNC, findComLine
from os.path import join

from text_io import read_text

In [4]:
데이터경로='./data/'

In [4]:
프레임목록=importNC(데이터경로)

In [5]:
NC15=프레임목록[2]

In [6]:
NC15

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR,시즌
선수명,,,,,,,,,,,,,,,,,,,
테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73,2015
나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46,2015
박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52,2015
이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19,2015
김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03,2015
조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.540,0.912,0.389,1.00,2015
손시헌,NC,140,508,440,108,13,56,58,36,66,3,0.260,0.245,0.319,0.398,0.717,0.316,0.85,2015
이종욱,NC,125,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84,2015
모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.290,0.340,0.439,0.779,0.340,0.76,2015
지석훈,NC,137,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51,2015
용덕한,NC,50,49,42,12,0,4,5,5,8,2,0.353,0.286,0.375,0.310,0.685,0.326,0.44,2015
최재원,NC,114,102,85,21,2,31,13,10,29,14,0.352,0.247,0.366,0.412,0.778,0.350,0.30,2015
박정준,NC,19,24,21,8,0,2,2,0,5,0,0.500,0.381,0.458,0.476,0.934,0.417,0.25,2015
김태군,NC,144,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25,2015
조평호,NC,22,22,22,8,1,4,3,0,6,0,0.467,0.364,0.364,0.591,0.955,0.401,0.18,2015
이창섭,NC,15,8,5,0,0,0,0,3,3,0,0.000,0.000,0.375,0.000,0.375,0.286,-0.01,2015
김준완,NC,30,54,44,10,0,12,2,10,10,2,0.294,0.227,0.370,0.227,0.597,0.308,-0.04,2015
강구성,NC,4,5,5,1,0,0,0,0,0,0,0.200,0.200,0.200,0.400,0.600,0.242,-0.04,2015
강민국,NC,1,2,2,0,0,0,0,0,1,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.06,2015
김태진,NC,1,3,3,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.09,2015

여러 개의 시트가 있을 경우 __sheetname__ 인자를 활용
- Defaults to 0 -> 1st sheet as a DataFrame
- 1 -> 2nd sheet as a DataFrame
- “Sheet1” -> 1st sheet as a DataFrame
- [0,1,”Sheet5”] -> 1st, 2nd & 5th sheet as a dictionary of DataFrames
- None -> All sheets as a dictionary of DataFrames

In [8]:
pd.read_excel('./data/NC_ALL.xlsx', sheetname='2014')

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
0,테임즈,NC,125,514,443,152,37,95,121,58,99,11,0.367,0.343,0.422,0.688,1.110,0.456,6.36
1,나성범,NC,123,536,477,157,30,88,101,43,128,14,0.397,0.329,0.400,0.597,0.997,0.424,5.94
2,박민우,NC,118,491,416,124,1,87,40,56,89,50,0.373,0.298,0.392,0.399,0.791,0.365,2.73
3,손시헌,NC,97,361,307,90,5,39,39,34,53,2,0.331,0.293,0.368,0.414,0.782,0.349,1.52
4,지석훈,NC,114,238,212,58,6,26,34,16,46,1,0.323,0.274,0.340,0.462,0.802,0.352,0.97
5,이호준,NC,122,500,424,115,23,59,78,67,104,2,0.305,0.271,0.371,0.481,0.852,0.369,0.88
6,권희동,NC,101,252,221,63,7,39,36,25,43,6,0.324,0.285,0.363,0.443,0.806,0.353,0.62
7,모창민,NC,122,468,419,110,16,62,72,37,82,14,0.289,0.263,0.320,0.413,0.733,0.319,0.17
8,이종욱,NC,124,495,438,126,6,73,79,40,60,15,0.313,0.288,0.343,0.411,0.754,0.332,0.13
9,김준완,NC,6,5,4,2,0,1,0,1,1,1,0.667,0.500,0.600,0.500,1.100,0.509,0.11
10,최재원,NC,2,2,1,0,0,1,0,1,1,0,-,0.000,0.500,0.000,0.500,0.363,0.01
11,마낙길,NC,2,2,1,0,0,1,0,1,0,0,0.000,0.000,0.500,0.000,0.500,0.363,0.01
12,조영훈,NC,92,124,111,29,6,15,22,10,26,1,0.288,0.261,0.325,0.459,0.784,0.337,-0.02
13,김태우,NC,4,5,5,1,0,0,0,0,3,0,0.500,0.200,0.200,0.400,0.600,0.244,-0.03
14,박명환*,NC,2,1,1,0,0,0,0,0,1,0,-,0.000,0.000,0.000,0.000,0.000,-0.03
15,조평호,NC,2,2,2,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.07
16,강민국,NC,6,3,3,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.10
17,허준,NC,28,36,29,5,0,2,1,5,10,0,0.263,0.172,0.294,0.276,0.570,0.268,-0.11
18,김성욱,NC,26,26,23,4,1,6,1,3,9,1,0.231,0.174,0.269,0.348,0.617,0.272,-0.15
19,노진혁,NC,25,16,16,3,1,3,2,0,7,0,0.250,0.188,0.188,0.375,0.563,0.231,-0.18

In [11]:
프레임목록=importNC('./data/')

In [12]:
from pandas import ExcelWriter

In [17]:
NC엑셀파일=ExcelWriter('NC시즌1315.xlsx')

파일 경로로 하면 새로 쓰기가 되기 때문에 여러 개의 시트는 대상 엑셀 파일에 이어 쓰도록 해야 합니다.

In [18]:
프레임목록[0].to_excel(NC엑셀파일, '2013')
프레임목록[1].to_excel(NC엑셀파일, '2014')
프레임목록[2].to_excel(NC엑셀파일, '2015')

In [19]:
# 최종적으로 파일 내용이 저장되도록 마지막에는 .save() 를 수행한다.
NC엑셀파일.save()

웹에서 얻은 자료들은 파일명이 이상한 경우가 많습니다.

In [1]:
from urllib.parse import unquote_plus as url디코딩

In [2]:
경로='./data/koreaexim/international/Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0803.xls'

In [7]:
# 경로의 문자열이 정상적으로 표현이 되지 않을 경우. 디코딩하여 보일 수 있도록 수정
url디코딩(경로)

'./data/koreaexim/international/Global Market Daily Table(값복사)_0803.xls'

In [8]:
# 필요 없는 부분은 잘라냄
국제0803=pd.read_excel(경로, skiprows=3, parse_cols='C:K', header=None)
국제0803

,0,1,2,3,4,5,6,7,8
0,Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
2,MSCI AC World,425.32,-0.00342097,0.0141638,-0.00342097,-0.00561115,0.0196586,442.7,392.13
3,S&P 500,2098.04,-0.00275686,0.0147028,-0.00275686,0.0150366,0.0190102,2130.82,1862.49
4,Euro Stoxx 50,3635.4,0.00963982,0.0348126,0.00963982,-0.0214978,0.155405,3828.78,2874.65
5,DAX,11443.7,0.0119135,0.0350313,0.0119135,-0.0437581,0.167066,12374.7,8571.95
6,Nikkei 225,20548.1,-0.00180372,0.00973017,-0.00180372,0.0572691,0.17749,20868,14532.5
7,상해,3622.91,-0.0111417,-0.0275537,-0.0111417,-0.062378,0.120021,5166.35,2187.67
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Fixed Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Last Price(%),D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
11,UST 10Y,2.148,-3,-6.95,-3.21,30.91,-2.32,2.6198,1.6407
12,UST 2Y,0.6646,0,1.51,0.4,18.84,0.01,0.7393,0.3076
13,Spread(10Y-2Y),1.4834,-3,-8.46,-3.61,12.07,-2.33,2.0562,1.1919
14,Bund 10Y,0.628,-1,-6.3,-1.6,43.4,8.7,1.167,0.075
15,Bund 2Y,-0.244,0,-1.8,-0.9,1.3,-13.4,0.027,-0.283
16,Spread(10Y-2Y),0.872,-1,-4.5,-0.7,42.1,22.1,1.157,0.342
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,FX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
20,Dollar Index,97.494,0.00162324,0.0102796,0.00162324,0.00982961,0.0800386,100.33,81.328
21,EUR,1.095,-0.00309541,-0.0124459,-0.00309541,-0.00173215,-0.0948917,1.3422,1.0496
22,GBP,1.5587,-0.00224043,0.0017996,-0.00224043,0.0447051,0.000641972,1.6886,1.4632
23,JPY,124.03,-0.00112876,-0.0062888,-0.00112876,-0.0407966,-0.0342659,102.03,125.612
24,AUD,0.7286,-0.0030104,0.0023387,-0.0030104,-0.0454605,-0.108746,0.9378,0.7269
25,"* D-1,D-7,MTD,QTD,YTD 변동분은 USD 대비 해당 통화 가치의 변동",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Commodity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
29,WTI,45.17,-0.0413837,-0.0468453,-0.0413837,-0.154278,-0.158845,93.38,47.12
30,Gold,1089.4,-0.005205,-0.00683745,-0.005205,-0.0947316,-0.0805975,1321,1086
31,Corn,376.5,-0.012459,-0.0182529,-0.012459,-0.0828258,-0.0720887,451.75,363.5
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,CDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
36,China,101,0.831,-0.501,0.831,8.333,14.013,104.336,66.838
37,Indonesia,186.757,3.249,5.545,3.249,30.208,26.445,183.748,127.162
38,Malaysia,152.159,4.173,10.277,4.173,24.706,45.332,151.325,73.677
39,Thailand,109,2,1,2,5.5,6,119.511,80.84
40,Russia,345.773,6.039,3.628,6.039,-27.167,-126.441,628.765,221.835
41,South Africa,219.178,-0.717,-0.887,-0.717,11.862,29.295,240.794,159
42,Turkey,236.839,-1.569,6.529,-1.569,20.735,60.005,238.408,156
43,Brazil,292.362,4.642,-4.678,4.642,27.912,95.564,306.576,123.25
44,Korea,54.165,0.331,-0.751,0.331,2.08,-0.326,67.609,45.491
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
47,Japan,40,0,-0.713,0,4.511,-27.5,73.833,31.335
48,Italy,114.915,-0.611,-0.215,-0.611,6.397,-24.382,160.16,84.16
49,Spain,94.888,-0.057,2.668,-0.057,9.649,-2.852,130.438,56.493

중간 빈줄 삭제

In [9]:
# 모두 NaN인 줄 삭제
국제0803=국제0803.dropna(how='all')

행을 삭제하면서 색인이 고르지 않게 되었습니다. (삭제된 행의 index 가 사라짐)
-> 색인을 변형된 데이터프레임에 맞게 다시 재설정하는 것을 권장합니다.

In [10]:
국제0803=국제0803.reset_index(drop=True)
#reset_index()를 그냥 호출하면 index가 하나 더 생기는 문제점이 있음. (기존 색인이 열이됨) 'drop=True'를 사용하여 제거

In [11]:
표범위={'equity':(0,8),
      'fixed income': (8, 16),
      'fx':(16,24),
      'commidity':(24,29),
      'cds':(29,44)
    }

In [15]:
# 주어진 표 범위로 표들을 잘라냄
프레임=국제0803

표사전 = {}

for 표제목, 범위 in 표범위.items():
    시작, 종료 = 범위
    표 = 프레임.iloc[시작:종료]
    표사전[표제목]=표

In [16]:
표사전['cds']

,0,1,2,3,4,5,6,7,8
29,CDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
31,China,101,0.831,-0.501,0.831,8.333,14.013,104.336,66.838
32,Indonesia,186.757,3.249,5.545,3.249,30.208,26.445,183.748,127.162
33,Malaysia,152.159,4.173,10.277,4.173,24.706,45.332,151.325,73.677
34,Thailand,109,2,1,2,5.5,6,119.511,80.84
35,Russia,345.773,6.039,3.628,6.039,-27.167,-126.441,628.765,221.835
36,South Africa,219.178,-0.717,-0.887,-0.717,11.862,29.295,240.794,159
37,Turkey,236.839,-1.569,6.529,-1.569,20.735,60.005,238.408,156
38,Brazil,292.362,4.642,-4.678,4.642,27.912,95.564,306.576,123.25
39,Korea,54.165,0.331,-0.751,0.331,2.08,-0.326,67.609,45.491
40,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
41,Japan,40,0,-0.713,0,4.511,-27.5,73.833,31.335
42,Italy,114.915,-0.611,-0.215,-0.611,6.397,-24.382,160.16,84.16
43,Spain,94.888,-0.057,2.668,-0.057,9.649,-2.852,130.438,56.493

## 여기서부터는 모듈화 해서 다시 시작임

In [1]:
from koreainout import importGrid, searchGrid, readExcel
from urllib.parse import unquote_plus as url디코딩
import pandas as pd

In [2]:
경로='./data/koreaexim/international/Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0803.xls'

In [3]:
국제0803=readExcel(경로)

In [4]:
표범위=searchGrid(국제0803)

In [5]:
표사전=importGrid(국제0803, 표범위)

In [18]:
표사전['CDS']

,0,1,2,3,4,5,6,7,8
29,CDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
31,China,101,0.831,-0.501,0.831,8.333,14.013,104.336,66.838
32,Indonesia,186.757,3.249,5.545,3.249,30.208,26.445,183.748,127.162
33,Malaysia,152.159,4.173,10.277,4.173,24.706,45.332,151.325,73.677
34,Thailand,109,2,1,2,5.5,6,119.511,80.84
35,Russia,345.773,6.039,3.628,6.039,-27.167,-126.441,628.765,221.835
36,South Africa,219.178,-0.717,-0.887,-0.717,11.862,29.295,240.794,159
37,Turkey,236.839,-1.569,6.529,-1.569,20.735,60.005,238.408,156
38,Brazil,292.362,4.642,-4.678,4.642,27.912,95.564,306.576,123.25
39,Korea,54.165,0.331,-0.751,0.331,2.08,-0.326,67.609,45.491
40,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
41,Japan,40,0,-0.713,0,4.511,-27.5,73.833,31.335
42,Italy,114.915,-0.611,-0.215,-0.611,6.397,-24.382,160.16,84.16
43,Spain,94.888,-0.057,2.668,-0.057,9.649,-2.852,130.438,56.493

In [14]:
표제목행여부=국제0803.notnull().sum(axis=1) == 1
# 표제목 행은 값이 딱 하나만 담겨있다.

In [21]:
표시작시리즈=pd.Series(국제0803[표제목행여부].index)
표시작시리즈

0     0
1     8
2    16
3    23
4    24
5    29
dtype: int64

In [24]:
표길이=len(국제0803)
끝범위목록 = list(표시작시리즈[1:])
끝범위목록.append(표길이)
끝범위시리즈=pd.Series(끝범위목록)
끝범위시리즈

0     8
1    16
2    23
3    24
4    29
5    44
dtype: int64

In [7]:
표범위목록 = list(zip(표시작시리즈, 끝범위시리즈))
표범위목록

NameError: name '표시작시리즈' is not defined

In [8]:
표범위목록 = searchGrid(국제0803)

In [9]:
표범위목록

[('Equity', 0, 8),
 ('Fixed Income', 8, 16),
 ('FX', 16, 23),
 ('* D-1,D-7,MTD,QTD,YTD 변동분은 USD 대비 해당 통화 가치의 변동', 23, 24),
 ('Commodity ', 24, 29),
 ('CDS', 29, 44)]

In [20]:
import os
데이터경로='./data/koreaexim/international/'
파일목록=os.listdir(데이터경로)
파일목록

['Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0803.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0804.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0805.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0806.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0807.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0810.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0811.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0812.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0814.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0817.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0818.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0819.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0821.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0824.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0825.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0826.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0827.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0828.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0831.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0901.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0902.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0903.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0904.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0907.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0908.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0909.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0910.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0911.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0914.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0915.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0916.xls',
 'Global+Market+Daily+Table%28%EA%B0%92%EB%B3%B5%EC%82%AC%29_0917.xls']

In [22]:
from os.path import join

표사전2 = {}

for 경로 in 파일목록:
    프레임 = readExcel(join(데이터경로, 경로))
    표범위 = searchGrid(프레임)
    표사전2 = importGrid(프레임, 표범위)

In [23]:
표사전2.items

In [24]:
표사전2['FX']

,0,1,2,3,4,5,6,7,8
16,FX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
18,Dollar Index,94.55,-0.00911759,-0.00949128,-0.0233043,-0.00752622,0.0474249,100.33,84.658
19,EUR,1.1435,0.0128432,0.0137411,0.032226,0.0255605,-0.0548024,1.2849,1.0496
20,GBP,1.5591,0.00632544,0.0094529,0.000320801,0.00502804,0.000898761,1.6388,1.4632
21,JPY,120.01,0.00466628,0.00508291,0.036497,0.00566619,-0.00191651,105.921,125.612
22,AUD,0.7173,-0.00333472,0.0142817,-0.026994,-0.0937461,-0.122569,0.8925,0.6908